* { box-sizing: border-box; outline: none; color: #000; }
body { margin: 0; }
html { font-size: 13px; }
ul, ol { list-style: none; margin: 0; padding: 0; }
li { padding: 0; margin: 0; padding: 0; }
a { text-decoration: none; }
main { padding: 20px; background: #f8f8f8; }